.authForm,
.formprenotazione {
  margin-top: 7rem;
}

.titolo {
  width: max-content;
  font-weight: 700;
  font-size: large;
}

Link {
  text-decoration-line: none;
}

.formBox {
  box-shadow: 2px, 2px, 4px, 2px;
}
